
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



/* modal screen full */

.carousel.carousel-fit {
    position: relative;
    /* When sliding, use the maximum height we have */
    /* Center horizontally the content of the slides */
    /* To be centered, the images of the slides need to be inline */
    /* Maximize the captions in the wrapper */
}
.carousel.carousel-fit.slide {
    /* Hide the content outside the carousel when sliding */
    overflow: hidden;
}
.carousel.carousel-fit .carousel-inner > .next,
.carousel.carousel-fit .carousel-inner > .prev {
    bottom: 0;
}
.carousel.carousel-fit .carousel-inner > .item {
    text-align: center;
}
.carousel.carousel-fit .carousel-inner > .item > img {
    display: inline-block;
}
.carousel.carousel-fit .carousel-inner > .item > .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
}

